@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    max-width: 500px;
    margin:auto;
}
h1{
    color: rgb(117, 209, 41);
}
h1 a {color: brown;
}
h2 :hover{
    color: orange;
}
.handstand:hover{
    box-shadow: 5px 8px 34px 0px orange;
}
.hda{
    box-shadow: 5px 8px rgb(95, 9, 9);
}
.hda2{
    box-shadow: 5px 8px black
}
ul li:hover{
    color: orange;
}
ul li a{
    text-decoration: none;
}